<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 1</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <h3>Popular Girls</h3>
        <h2>Girl 1: <%- top_three[0] %></h2>
        <h2>Girl 2: <%- top_three[1] %></h2>
        <h2>Girl 3: <%- top_three[2] %></h2>

        <!-- render answer here -->
      </div>
    </div>
  </div>
  <% current_question = "4" %>
  <%- include('../partials/questions/navButtons') %>

</body>
